<div class="add-items recipe">
  <%= form_with model: @recipe , class: "recipe-form" do |form| %>
    <h2>Add a New Recipe</h2>
    <div>
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, placeholder: "Name", required: true, autofocus: true %>
    </div>
    <div>
      <%= form.label :preparation_time, "Preparation Time" %>
      <%= form.number_field :preparation_time, placeholder: 0, required: true, autofocus: true %>
    </div>
    <div>
      <%= form.label :cooking_time, "Cooking Time" %>
      <%= form.number_field :cooking_time, placeholder: 0, required: true, autofocus: true %>
    </div>
    <div>
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, placeholder: "A description of the recipe", rows: 5, required: true, autofocus: true %>
    </div>
    <div>
      <%= form.label :public %><br/>
      <%= form.label :public, "Yes", value: "true" %>
      <%= form.radio_button :public, true, checked: true %>
      <%= form.label :public, "No", value: "false" %>
      <%= form.radio_button :public, false %>
    </div>
    <div>
      <%= form.submit "Add Recipe" , class: "submission" %>
    </div>
  <% end %>
</div>